x-environment: &base_env
  - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY:?DJANGO_SECRET_KEY is required}
  - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE:-server.settings.base_settings}
  - DATABASE_URL=${DATABASE_URL:-postgres://puzzlehunt:${DB_PASSWORD}@db/puzzlehunt}
  - DJANGO_ENABLE_DEBUG=${DJANGO_ENABLE_DEBUG:-}
  - DOMAIN=${DOMAIN:-}
  - ENFORCE_SSL=${ENFORCE_SSL:-}
  - ENABLE_DEBUG_TOOLBAR=${ENABLE_DEBUG_TOOLBAR:-}
  - SENTRY_DSN=${SENTRY_DSN:-}
  - ENABLE_MIGRATION_MANAGEMENT=${ENABLE_MIGRATION_MANAGEMENT:-true}

services:
   # PostgreSQL database
  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=puzzlehunt
      - POSTGRES_USER=puzzlehunt
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    restart: unless-stopped

  # Redis cache
  redis:
    image: redis:latest
    volumes:
      - redis_data:/data
    restart: unless-stopped

  # Main Django application
  app:
    build:
      context: .
      dockerfile: config/docker/Dockerfile.prod
    pull_policy: never
    image: puzzlespring-local
    volumes:
      - .:/code
      - media:/app/media
      - static:/app/static
      - ./custom/static:/app/custom_static
      - ./custom/templates:/app/custom_templates
      - ./custom/config:/app/custom_config
    environment: *base_env
    depends_on:
      - db
      - redis
    restart: unless-stopped

  # Huey async task queue
  huey:
    image: puzzlespring-local
    command: python manage.py run_huey --quiet
    pull_policy: never
    volumes:
      - .:/code
      - static:/app/static
      - media:/app/media
    environment: *base_env
    depends_on:
      - db
      - redis
    restart: unless-stopped

  # Pushpin async communication service
  pushpin:
    image: fanout/pushpin:1.40.0
    volumes:
      - ./config/pushpin:/etc/pushpin
    depends_on:
      - app
    restart: unless-stopped

  # Caddy reverse proxy
  caddy:
    image: caddy:2
    ports:
      - ${HTTP_PORT:-80}:80
      - ${HTTPS_PORT:-443}:443
    volumes:
      - ./config/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
      - static:/app/static
      - media:/app/media
    environment:
      - DOMAIN
    depends_on:
      - app
      - pushpin
    restart: unless-stopped

volumes:
  postgres_data:
  static:
  media:
  redis_data:
  caddy_data:
  caddy_config:
