@charset "utf-8";

$primary: hsl(204, 86%, 53%);
$link: hsl(217, 71%, 53%);
$info: hsl(0, 0%, 71%);

$tablet: 769px; // Existing definition
$navbar-breakpoint: $tablet;

$footer-background-color: none;
$footer-padding: 1rem 1.5rem 3rem;

$menu-item-hover-background-color: #e9e9e9;

$table-cell-border: 1px solid #585858;

@import "../bulma/bulma.sass";
@import "../bulma/sass/extensions/_all";

body {
    padding: 3.25rem 0 0;
}