{% extends "base.html" %}

{% block title %}Server Error - 500{% endblock %}

{% block content %}
<div class="content has-text-centered">
  <h1 class="title is-1">500</h1>
  <h2 class="subtitle is-3">Server Error</h2>
  <p class="is-size-5">
    Something went wrong on our end. Our team has been notified and we're working to fix it.
  </p>
  <div class="mt-6">
    <a href="/" class="button is-primary">
      <span class="icon">
        <i class="fa fa-home"></i>
      </span>
      <span>Return Home</span>
    </a>
  </div>
</div>
{% endblock content %} 