{% extends "info_base.html" %}

{% comment %}
@template: hunt_info_base.html
@description: Base template for hunt information pages with a centered content layout. Optionally applies hunt CSS.
@extends: info_base.html
@blocks:
  title: Sets page title to "Hunt Details"
  includes: Conditionally includes hunt CSS based on STYLE_INFO_PAGES_WITH_HUNT_CSS setting
  content_wrapper: Provides a centered content layout with specific width
  content: Block for hunt information content
@context:
  hunt: The Hunt object (optional, will fall back to current hunt)
{% endcomment %}

{% block includes %}
  {% set_hunt_from_context %}
  {% if config.STYLE_INFO_PAGES_WITH_HUNT_CSS and tmpl_hunt.css_file %}
    <link rel="stylesheet" type="text/css" href="{{ tmpl_hunt.css_file.file.url }}">
  {% endif %}
{% endblock includes %}

{% block title %} Hunt Details {% endblock title %}

{% block content_wrapper %}
<div class="bulma">
  <section class="section">
    <div class="container mt-5">
      <div class="columns is-centered is-multiline">
        <div id="content-box" class="column has-background-light is-10-tablet is-9-desktop is-8-widescreen">
          <div class="content px-4 pb-4">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}