{% extends "hunt_info_base.html" %}

{% comment %}
@template: leaderboard.html
@description: Displays a leaderboard of teams for a specific hunt with customizable ranking rules.
@extends: hunt_info_base.html
@blocks:
  title_meta_elements: Sets page title to include hunt name
  content_wrapper: Sets wide layout for the leaderboard
  content: Displays the leaderboard table with team rankings
@context:
  hunt: The Hunt object being displayed
  ruleset: List of LeaderboardRule objects defining the columns and ranking rules
  team_data: List of Team objects with their ranking data
{% endcomment %}

{% block title_meta_elements %}
  {% with title="Team Leaderboard - "|add:hunt.name %} {{ block.super }} {% endwith %}
{% endblock title_meta_elements %}

{% block content_wrapper %}
  {% with info_size='wide' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<style>
  .badge-tag {
    background: #d3d3d3 !important;
  }
</style>

<div class="content px-5">
  <h1 style="text-align: center;"> Leaderboard - {{hunt.name}}</h1>
  <br>
  <br>
  <table class="table is-striped is-size-7-mobile">
    <tr>
      <th>Rank</th>
      {% if hunt.no_team_mode %}
        <th>Player</th>
      {% else %}
        <th>Team</th>
      {% endif %}
      {% for rule in ruleset %}
        {% if rule.visible %}
          <th>{{ rule.display_name }}</th>
        {% endif %}
      {% endfor %}
    </tr>
    {% for team in team_data %}
    <tr>
      <td>{{ team.computed_rank }}</td>
      <td class="team_name" style="word-break: break-word;">
        {% if team.badges %}
          {% for badge in team.badges %}
            <span class="tag badge-tag mr-1 mb-1">{{ badge }}</span>
          {% endfor %}
        {% endif %}
        {{team.name}}
      </td>
      {% for rule in ruleset %}
        {% if rule.visible %}
          {% get_attribute team rule.rule_type as val %}
          {% if rule.is_time %}
            <td>{{ val|date:"M dS, h:i a" }}</td>
          {% else %}
            <td>{{ val }}</td>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}