{% extends "hunt_info_base.html" %}

{% comment %}
@template: leaderboard.html
@description: Displays a leaderboard of teams for a specific hunt with customizable ranking rules.
@extends: hunt_info_base.html
@blocks:
  title_meta_elements: Sets page title to include hunt name
  content_wrapper: Sets wide layout for the leaderboard
  content: Displays the leaderboard table with team rankings
@context:
  hunt: The Hunt object being displayed
  ruleset: List of LeaderboardRule objects defining the columns and ranking rules
  team_data: List of Team objects with their ranking data
{% endcomment %}

{% block title_meta_elements %}
  {% with title="Team Leaderboard - "|add:hunt.name %} {{ block.super }} {% endwith %}
{% endblock title_meta_elements %}

{% block content_wrapper %}
  {% with info_size='wide' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<style>
  .badge-tag {
    background: #d3d3d3 !important;
  }
</style>

<div class="content px-5">
  <h1 style="text-align: center;"> Leaderboard - {{hunt.name}}</h1>
  <br>
  <br>
  {% if split_leaderboard %}
    <div x-data="{ activeTab: 'all' }">
      <div class="tabs is-boxed">
        <ul>
          <li :class="{ 'is-active': activeTab === 'all' }">
            <a @click.prevent="activeTab = 'all'">All Teams</a>
          </li>
          <li :class="{ 'is-active': activeTab === 'true' }">
            <a @click.prevent="activeTab = 'true'">{{ custom_data_name }}: Yes</a>
          </li>
          <li :class="{ 'is-active': activeTab === 'false' }">
            <a @click.prevent="activeTab = 'false'">{{ custom_data_name }}: No</a>
          </li>
        </ul>
      </div>
      <div x-show="activeTab === 'all'">
        {% include "partials/_leaderboard_table.html" with teams=team_data %}
      </div>
      <div x-show="activeTab === 'true'">
        {% include "partials/_leaderboard_table.html" with teams=team_data_true %}
      </div>
      <div x-show="activeTab === 'false'">
        {% include "partials/_leaderboard_table.html" with teams=team_data_false %}
      </div>
    </div>
  {% else %}
    {% include "partials/_leaderboard_table.html" with teams=team_data %}
  {% endif %}
</div>
{% endblock content %}