{% comment %}
@template: notification_table.html
@description: Displays accordion list of notification subscriptions with expandable edit controls.
@context:
  subscriptions: List of NotificationSubscription objects
  event_type_choices: List of tuples containing event type choices
{% endcomment %}

<div id="notification-table" {% if request.htmx and not request.htmx.boosted %}hx-swap-oob="true"{% endif %}>
    {% for subscription in subscriptions %}
        <div class="card mb-3" x-data="{ expanded: false }">
            {% include "partials/_notification_subscription_header.html" %}
            <div class="card-content" x-show="expanded" x-transition>
                <div id="subscription-content-{{ subscription.pk }}">
                    {% include "partials/_notification_subscription_view.html" %}
                </div>
            </div>
        </div>
    {% empty %}
        <div class="notification is-light">
            <p>You don't have any notification subscriptions yet. Use the form below to create one.</p>
        </div>
    {% endfor %}
</div>