{% comment %}
@template: prepuzzle_infobox.html
@description: Displays the information box for a prepuzzle, including title and answer submission form.
@context:
  puzzle: The current prepuzzle object
  form: Form for submitting prepuzzle answers
{% endcomment %}

{% load crispy_forms_tags %}
<div id="puzzle-infobox" class="columns is-centered is-multiline">
  <div id="content-box" class="column has-background-light is-12-tablet is-11-desktop is-10-widescreen">
    <div class="has-text-centered mb-2">
      <h1 class="is-size-3">{{puzzle.name}}</h1>
    </div>
  
    {# Answers and stats area #}
    <div class="columns px-3 mb-0">
      {# Answer submission and previous answers area #}
      <div id="puzzle-answer-box" class="column">
        {% crispy form %} {# Answer submission form #}
        
        {% include 'partials/_puzzle_public_response.html' %}
      </div>
    </div>
  </div>
</div>