{% comment %}
@template: puzzle_infobox.html
@description: Displays puzzle information box with answer submission, stats, hints access, and updates.
@context:
  puzzle: The current Puzzle object
  team: The current Team object
  form: Form for submitting puzzle answers
  updates: List of Update objects for this puzzle
{% endcomment %}

{% load crispy_forms_tags %}
<div id="puzzle-infobox" 
     class="columns is-centered is-multiline" 
     hx-ext="sse" 
     {% if team %} sse-connect="{% url 'puzzlehunt:team_events' team.pk %}" {% endif %}>
  <div id="content-box" class="column has-background-light is-12-tablet is-11-desktop is-10-widescreen">
    <div class="has-text-centered mb-2 is-relative">
      <a href="{% url 'puzzlehunt:hunt_view' puzzle.hunt.pk %}" 
         class="button is-light" 
         style="position: absolute; left: 1rem; top: 0.5rem;">
        <span class="icon">
          <i class="fa fa-lg fa-arrow-left"></i>
        </span>
        <span>Back</span>
      </a>
      <h1 class="is-size-3" style="margin: 0 6rem;">{{puzzle.name}}</h1>
    </div>
  
    {# Answers and stats area #}
    <div class="columns px-3 mb-0">
      {# Answer submission and previous answers area #}
      <div id="puzzle-answer-box" class="column">
        {% crispy form %} {# Answer submission form #}

        {% if not puzzle.hunt.is_public %}
          {% include 'partials/_submission_table.html' %} {# Previous answer table #}
        {% else %}
          {% include 'partials/_puzzle_public_response.html' %}
        {% endif %}
      </div>
    
      {# Stats and other buttons area #}
      {% hints_open team puzzle as show_hint_link %}
      {% if config.SHOW_SOLVE_COUNT_ON_PUZZLE or puzzle.hunt.is_public or show_hint_link %}
        <div class="column is-narrow">
          {% if config.SHOW_SOLVE_COUNT_ON_PUZZLE %}
            <button class="button is-fullwidth is-static block has-tooltip-arrow has-tooltip-bottom"
                    style="pointer-events: auto; cursor: help;"
                    data-tooltip="{{ puzzle.solve_count }} teams have solved this puzzle."
            >
              Stats: &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="icon-text">
                <span class="icon">
                  <i class="fa fl-lg fa-group"></i>
                </span>
                <span>{{ puzzle.solve_count }}</span>
                <span class="icon">
                  <i class="fa fl-lg fa-check"></i>
                </span>
              </span>
            </button>
          {% endif %}
          {% if puzzle.hunt.is_public %}
            <a class="button is-fullwidth block" href="{% url 'puzzlehunt:puzzle_solution' puzzle.pk %}">
              View Solution
            </a>
          {% endif %}
          {# TODO: rather than not show the button, consider greying it out #}
          {% if show_hint_link %}
            <a class="button is-fullwidth block" href="{% url 'puzzlehunt:puzzle_hints_view' puzzle.pk %}">
              View/Request Hints
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
    
    {# Updates and other messages area #}
    <div> 
      {% for e in updates %}
        <article class="message is-danger mb-3">
          <div class="message-body p-4">
            <b>Update:</b>&nbsp;&nbsp;<small>{{ e.time|date:"M jS - h:i a" }}</small>
            <br>
            {{ e.text }}
          </div>
        </article>
      {% endfor %}
      {% if puzzle.hunt.is_public %}
        <article class="message is-warning">
          <div class="message-body p-4">
            <b>Archived Hunt:</b>
            This hunt has been archived. Not all parts may work properly.
          </div>
        </article>
      {% endif %}
    </div>
  </div>
</div>