{% extends 'hunt_base.html' %}

{% block title_meta_elements %}
  {% with title=puzzle.name %} {{ block.super }} {% endwith %}
{% endblock title_meta_elements %}

{% block content_wrapper %}
<div id="huntContent" class="bulma">
  <section id="infoboxSection" class="section">
    <div class="container">
      {% is_prepuzzle as is_prepuzzle %}
      {% if is_prepuzzle %}
        {% include 'prepuzzle_infobox.html' %}
      {% else %}
        {% include 'puzzle_infobox.html' %}
      {% endif %}
    </div>
  </section>
</div>
{% block content %}
{% endblock %}
{% endblock %}

