{% extends 'hunt_base.html' %}

{% comment %}
@template: puzzle_base.html
@description: Base template for puzzle pages. Provides puzzle-specific layout and info box.
@extends: hunt_base.html
@blocks:
  title_meta_elements: Sets page title to puzzle name
  content_wrapper: Adds puzzle info box section
  content: Block for puzzle-specific content
@context:
  puzzle: The current puzzle object
  is_prepuzzle: Template tag result indicating if this is a prepuzzle
{% endcomment %}

{% block title_meta_elements %}
  {% with title=puzzle.name %} {{ block.super }} {% endwith %}
{% endblock title_meta_elements %}

{% block content_wrapper %}
<div id="huntContent" class="bulma">
  <section id="infoboxSection" class="section">
    <div class="container">
      {% is_prepuzzle as is_prepuzzle %}
      {% if is_prepuzzle %}
        {% include 'prepuzzle_infobox.html' %}
      {% else %}
        {% include 'puzzle_infobox.html' %}
      {% endif %}
    </div>
  </section>
</div>
{% block content %}
{% endblock %}
{% endblock %}

