{% extends 'staff_hunt_base.html' %}

{% block staff_content %}
  <div class="columns">
    <div class="column subtitle pb-0">Puzzle Template Editor:</div>
    <div class="column is-narrow pb-0"><button class="button is-primary">Save</button></div>
  </div>

  <script>
      window.addEventListener('htmx:afterSettle', function () {
        var Range = ace.require("ace/range").Range
        var editor = ace.edit("template-editor");
        editor.session.setTabSize(2);
        editor.session.setUseSoftTabs(true);
        editor.setTheme("ace/theme/chrome");
        editor.session.setMode("ace/mode/django");
        editor.setValue(`{{ hunt.template|safe }}`);
        editor.selection.clearSelection();
    })
  </script>
  <div class="block" id="template-editor"></div>
{% endblock %}
