{% extends 'staff_hunt_base.html' %}
{% comment %}
@template: staff_search.html
@description: Provides a search interface for staff to find users and teams.
@extends: staff_hunt_base.html
@blocks:
  staff_content: Displays search input and results area
@context:
  hunt: The current Hunt object
  query: The current search query
{% endcomment %}

{% load crispy_forms_tags %}

{% block staff_content %}
<div class="content">
  <h1 class="title">Search</h1>
  
  <div class="box">
    <div class="field">
      <div class="control has-icons-left">
        <input 
          class="input" 
          type="text" 
          placeholder="Search for users or teams..."
          name="q"
          value="{{ query }}"
          hx-get="{% url 'puzzlehunt:staff:search' hunt.id %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#search-results"
          hx-indicator="#search-indicator"
          hx-push-url="true"
        >
        <span class="icon is-small is-left">
          <i class="fa fa-search"></i>
        </span>
      </div>
    </div>

    <div class="mt-4" id="search-results">
      {% include "partials/_search_results.html" %}
    </div>

    <div id="search-indicator" class="htmx-indicator">
      <div class="is-flex is-justify-content-center">
        <span class="icon">
          <i class="fa fa-spinner fa-pulse"></i>
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %} 