{$DOMAIN}, puzzlehunt.club.cc.cmu.edu, www.puzzlehunt.club {
    # Handle SSE endpoints through pushpin
    handle /sse/* {
        reverse_proxy pushpin:7999 {
            transport http {
                versions 1.1
            }
        }
    }

    # Static files with caching
    handle_path /static/* {
        root * /app/static/
        file_server
    }

    # Constance files
    handle_path /media/constance/* {
        root * /app/media/constance/
        file_server
    }

    # Forward everything else to Django
    handle {
        reverse_proxy app:8000 {
            @accel header X-Accel-Redirect *
            handle_response @accel {
                uri strip_prefix /app/media
                root    * /app/media
                rewrite * {rp.header.X-Accel-Redirect}
                header Content-Disposition {http.reverse_proxy.header.Content-Disposition}
                method  * GET
                file_server
            }
        }
    }
} 
