{% extends "account/base_manage_password.html" %}
{% load allauth i18n hunt_tags %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
            {% email_backend_configured as email_backend_configured %}
            {% if email_backend_configured %}
            <p class="mt-5">
              Forgot your password? &nbsp;<a href="{% url 'account_reset_password' %}">Click here!</a>
            </p>
            {% endif %}
        {% endslot %}
    {% endelement %}
{% endblock content %}