{% comment %}
@template: _bulma_expanded_text_input.html
@description: Renders an expanded text input field with Bulma styling and error handling.
@context:
  field: The form field to render
{% endcomment %}

{% load crispy_forms_bulma_field %}

<div class="control is-expanded">
    {% if field.errors %}
        {% crispy_field field "class" "is-danger" %}
        {% for error in field.errors %}
          <p class="help is-danger">{{ error|safe }}</p>
        {% endfor %}
    {% else %}
        {% crispy_field field %}
    {% endif %}
</div>