{% comment %}
@template: _bulma_rounded_checkbox.html
@description: Renders a rounded checkbox switch with Bulma styling.
@context:
  field: The form field to render as a checkbox switch
{% endcomment %}

<div class="field">
  <div class="control">
    <input id="check-{{ field.html_name }}" type="checkbox" name="{{ field.html_name }}"
           class="switch is-rounded is-rtl"
           {% if field.value %}checked="checked"{% endif %}>
    <label for="check-{{ field.html_name }}"><b>{{ field.label }}</b></label>
  </div>
</div>