{% load crispy_forms_field %}

<div id="div_{{ field.auto_id }}" class="{{ wrapper_class }}" x-data="{ checked: {% if field.value %}true{% else %}false{% endif %} }">
    <div class="field">
        <label class="label">{{ field.label }}</label>
        <div class="control is-flex is-align-items-center" style="gap: 0.5rem;">
            <input type="checkbox"
                   name="{{ field.html_name }}"
                   class="switch is-rounded"
                   id="{{ field.auto_id }}"
                   x-model="checked"
                   {% if field.field.required %}required{% endif %}>
            <label for="{{ field.auto_id }}"></label>
            <span x-text="checked ? 'Yes' : 'No'"></span>
        </div>
        {% if field.help_text %}
            <p id="{{ field.auto_id }}_helptext" class="help">{{ field.help_text }}</p>
        {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help is-danger">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
</div> 