{% comment %}
@template: _hint_row.html
@description: Displays a single hint row with request details and response status.
@context:
  hint: The Hint object to display
  staff: Boolean indicating if viewing as staff
  puzzle: The current Puzzle object
{% endcomment %}

<div id="hint-row-{{ hint.id }}"
     class="hint_row box p-3 mb-4
          {% if hint.response %}
            has-background-light
          {% elif staff and hint.responder and hint.responder != request.user %}
            has-background-claimed
          {% else %}
            has-background-warning-light
          {% endif %}
          "
>
  <article class="media">
    <div class="media-content">
      {# The original hint request section including puzzle and team info #}
      <div class="content">
        <p class="mb-1" style="overflow-wrap: anywhere">
          {% if staff %}
            <strong>Puzzle: <a href="?{% query_transform puzzle_id=hint.puzzle.pk %}">{{hint.puzzle.name}}</a></strong> &mdash;
            <small>Team: <a href="?{% query_transform team_id=hint.team.pk %}">{{hint.team.short_name}}</a></small>
          {% else %}
            <strong>Puzzle: {{hint.puzzle.name}}</strong> &mdash; <small>Team: {{hint.team.short_name}}</small>
          {% endif %}
          <br>
          {% if hint.canned_hint %}
            <span class="tag is-primary is-light mr-2">Canned Hint #{{ hint.canned_hint.order }}</span>
          {% endif %}
          <span id="request-text-{{ hint.id }}">
            {% if hint.canned_hint %}
              {{ hint.canned_hint.text|linebreaksbr }}
            {% else %}
              {{ hint.request|linebreaksbr }}
            {% endif %}
          </span>
        </p>

        <div class="level mb-0">
          <div class="level-left">
            {% if staff %}
              {% if not hint.response %}
                <button class="button is-small is-primary"
                        @click='modal = !modal;'
                        hx-post="{% url "puzzlehunt:staff:get_modal" hint.pk %}"
                        hx-target="#staff-hint-modal-contents"
                        hx-swap="outerHTML"
                        {% if not hint.responder %}
                        hx-vals="js:{claim: true}"
                        {% endif %}>
                  {% if not hint.responder %}
                    Claim/Respond
                  {% elif hint.responder == request.user %}
                    Respond to hint
                  {% else %}
                    Respond Anyway
                  {% endif %}
                </button>
                {% if hint.responder and hint.responder == request.user %}
                  <button class="button is-small is-primary ml-2"
                          hx-post="{% url "puzzlehunt:staff:hints_release" hint.pk %}"
                          hx-target="closest .hint_row"
                          hx-swap="outerHTML transition:true">
                    Release claim
                  </button>
                {% endif %}
              {% elif not hint.refunded and not hint.canned_hint %}
                <small><a hx-post="{% url 'puzzlehunt:staff:hints_refund' hint.pk %}"
                          hx-target="closest .hint_row"
                          hx-confirm="Are you sure you want to refund this hint?"
                          hx-swap="outerHTML transition:true">
                  Refund Hint
                </a></small>
              {% elif hint.refunded %}
                <b>This hint was refunded.</b>
              {% endif %}
            {% else %}
              {% if not hint.response %}
                <b> This hint has not yet been responded to. </b>
              {% elif hint.refunded %}
                <b>This hint was refunded.</b>
              {% endif %}
            {% endif %}
          </div>
          <div class="level-right">
            <div class="level-item">
              {% if hint.responder and not hint.response and staff %}
                {% if hint.responder == request.user %}
                  <strong>You have claimed this hint</strong>
                {% else %}
                  <strong>Claimed by {{ hint.responder.full_name }}</strong>
                {% endif %}
                &nbsp;-&nbsp;
              {% endif %}
              <small>{{ hint.request_time|time:"h:i a" }}</small>
            </div>
          </div>
        </div>
      </div>

      {# The hint response section #}
      {% if hint.response and not hint.canned_hint %}
        <article class="media">
          <figure class="media-left" style="width: 20px;">
          </figure>
          <div class="media-content">
            <div class="content">
              <p style="overflow-wrap: anywhere" class="mb-1">
                {% if staff and config.SHOW_HINT_USER_STAFF %}
                  <strong>{{hint.responder.full_name}}</strong>
                {% else %}
                  <strong>Response</strong>
                {% endif %}
                <br>
                <span id="response-text-{{ hint.id}}">{{ hint.response|linebreaksbr }}</span>
              </p>
              <div class="level mb-0">
                <div class="level-left">
                  {% if staff and not hint.canned_hint %}
                    <div class="level-item">
                      <small><a @click='modal = !modal;'
                                hx-post="{% url "puzzlehunt:staff:get_modal" hint.pk %}"
                                hx-target="#staff-hint-modal-contents"
                                hx-swap="outerHTML"
                      >
                        Edit Response
                      </a></small>
                    </div>
                  {% endif %}
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <small>{{ hint.response_time|time:"h:i a" }}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      {% endif %}
    </div>
  </article>
</div>
