{% comment %}
@template: _message_update_user_form.html
@description: Displays user form updates with messages and user display information.
@context:
  user: The current User object
  user_form: Form for updating user information
{% endcomment %}

{% include "partial_header.html" %}
{% load crispy_forms_tags %}
{% load account %}

<span id="navbar-user-display" hx-swap-oob="true">
  {% user_display user %}{% if request.user.is_impersonate %} ({{ request.impersonator }}) {% endif %}
</span>

{% crispy user_form %}