{% comment %}
@template: _notification_active_toggle.html
@description: Toggle switch for activating/deactivating notification subscriptions.
@context:
  subscription: The NotificationSubscription object to toggle
{% endcomment %}

<div class="field">
  <input id="switch-{{ subscription.pk }}" 
         type="checkbox" 
         name="active" 
         class="switch is-rounded is-small"
         {% if subscription.active %}checked{% endif %}
         hx-post="{% url 'puzzlehunt:notification_toggle' subscription.pk %}"
         hx-target="closest div"
         hx-swap="outerHTML">
  <label for="switch-{{ subscription.pk }}"></label>
</div> 