{% comment %}
@template: _puzzle_public_response.html
@description: Displays the response status for a puzzle submission with appropriate styling.
@context:
  submission: The PuzzleSubmission object containing response information
{% endcomment %}

<div id="public-answer-status"
     class="block p-3 has-text-centered
     {% if submission %}
       {% if submission.is_correct %}
         has-background-correct
       {% elif submission.response_text == "Wrong Answer." %}
         has-background-danger
       {% else %}
         has-background-warning
       {% endif %}
     {% else %}
       is-hidden
     {% endif %}
">
  {{ submission.response_text }}
</div>