html {
  box-sizing: border-box;
  display: block;
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  box-sizing: inherit;
  display: block;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #4a4a4a;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
}

#huntContent {
  padding: 3.25rem 0 0;
}

@media print {
  #huntContent #infoboxSection {
      display: none;
  }
  .navbar {
      display: none;
  }
  #puzzle-content {
      background-color: #FFFFFF !important;
      border-radius: 0px !important;
      box-shadow: none !important;
      padding: 0px !important;
  }
}

#content-box {
  border-radius: 10px;
  box-shadow: 1px 1px 6px;
}

#puzzle-container {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  padding: 0 15px 40px;
  @media screen and (min-width: 769px) {
      max-width: 1344px;
  }
  @media screen and (min-width: 1024px) {
      max-width: 960px;
  }
  @media screen and (min-width: 1216px) {
      max-width: 1152px;
  }
  @media screen and (min-width: 1408px) {
      max-width: 1344px;
  }
}

#puzzle-padding {
  display: block;
  flex: none;
  width: 100%;

}

#puzzle-content {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 1px 1px 6px;
  padding: 30px;
}

#solution-content {
  padding: 30px;
  color: black;
}

.hint_row {
  font-size: 11pt;
}

.mono {
  font-family: 'Courier New', monospace;
}

.bulma .has-background-claimed {
  background-color: #ffdddd;
}

.bulma .has-background-correct {
 background-color: #88ff88
}


