html {
    background-color: #ebebeb;
}

[x-cloak] { display: none !important; }

#template-editor {
    height: calc(100vh - 250px);
    font-size: 16px;
}

.hint_row {
    font-size: 11pt;
}

#sidebar-container {
    position: fixed;
    width: 220px;
    height: calc(100vh - 40px);
    border-right: 1px solid black;
    margin-left: 12px;
}

#staff-content-container {
    padding-left: 50px;
}

#staff-content-container.sidebarOpen {
    padding-left: 260px;
}

.mono {
    font-family: 'Courier New', monospace;
}

#collapse-box-left {
    position: absolute;
    width: 15px;
    height: 60px;
    left: 205px;
    background-color: lightgrey;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 15px;
}
#collapse-box-right {
    position: fixed;
    width: 15px;
    height: 60px;
    left: 0px;
    top: 65px;
    background-color: lightgrey;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 15px;
}
.htmx-indicator{
    opacity:0;
    display: none;
    transition: opacity 500ms ease-in;
}
.htmx-request.htmx-indicator{
    opacity:1;
    display:flex;
    flex-grow: 1;
}
#staff-content-container.htmx-request {
    display: none;
}

.has-background-claimed {
    background-color: #ffdddd;
}

.progress-container {
    width: calc(100vw - 60px);
    font-size: small;
}
.progress-container.sidebarOpen {
    width: calc(100vw - 270px);
}
.progress-container .mainCell span {
    text-wrap: nowrap;
}

.table-key {
  /* position: sticky;
  top: 0;
  left: 0; */
  background-color: #ebebeb;
  z-index: 10;
    padding: 0px 0px 20px;
}
.table-key ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.table-key li {
  display: flex;
  align-items: center;
}

.color-swatch, .border-swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.border-swatch {
  background-color: #FFFFFF;
}

.puzzle-cell {
  font-size: 8pt;
  white-space: nowrap;
  padding: 2px;
}

.puzzle-cell-indent {
  padding-left: 1em;
}

